<%- include ("./partials/_header") %>





 <div   style="background-image:url(img/pizzaRec.jpg); background-attachment: fixed; background-size: cover; padding-bottom: 120px; padding-top:120px;"  >
    <div style = "background-color: rgba(84, 187, 80, 0.75);padding-bottom: 50px; padding-top:50px;">
    <p style = "    text-align: center; color: #fff; font-size: 63px;">
        Sobre nosotros 
    </p>  
    </div>    
    </div> 

<div class="homeContainer">
    <div class="contentDiv">
       <img src="img/lasagna.jpg" alt="logo" width="500" class="imgFood">
    
        <p class="contentP">
            Italia es la fuente de inspiración de todo lo que hacemos en nuestros restaurantes, desde los ingredientes que usamos hasta nuestra galardonada lista de vinos. Lo que más nos inspira es la calidez y la hospitalidad del pueblo italiano, así como también el lugar preponderante que ocupa la familia en esa cultura.
         </p> 
    </div>
    

   
    
    
    </div>







<%- include ("./partials/_footer") %>