<%- include ("./partials/_header") %>


<div class="homeContainer">
<div class="contentDiv">
   <img src="img/cheese.jpg" alt="logo" width="500" class="imgFood">

    <p class="contentP">Descubre el sabor de Italia en México 

        Olive Garden llega a México comprometido para brindar a cada invitado una genuina experiencia gastronómica italiana. Es lo que nos complace en llamar Hospitaliano a nuestra pasión por brindarle al invitado 100% de satisfacción.
        
    </p> 
</div>

<div class="contentDiv">
    <p class="contentP"><span class="titleContent">Descubre el sabor de Italia en México </span> Olive Garden llega a México comprometido para brindar a cada invitado una genuina experiencia gastronómica italiana. Es lo que nos complace en llamar Hospitaliano a nuestra pasión por brindarle al invitado 100% de satisfacción. </p> 
    <img src="img/pasta.jpg" alt="logo" width="500" class="imgFood">
</div>
<div class="imageContainer">
    
</div>


</div>




<%- include ("./partials/_footer") %>