<%- include ("./partials/_header") %>


<div   style="background-image:url(img/pizzaRec.jpg); background-attachment: fixed; background-size: cover; padding-bottom: 120px; padding-top:120px;"  >
    <div style = "background-color: rgba(84, 187, 80, 0.75);padding-bottom: 50px; padding-top:50px;">
    <p style = "    text-align: center; color: #fff; font-size: 63px;">
        Food Lovers
    </p>  
    </div>    
    </div> 

<div class="homeContainer">
<div class="contentDiv">
   <img src="img/cheese.jpg" alt="logo" width="500" class="imgFood">

    <p class="contentP">Descubre el sabor de Italia en México 

        Olive Garden llega a México comprometido para brindar a cada invitado una genuina experiencia gastronómica italiana. Es lo que nos complace en llamar Hospitaliano a nuestra pasión por brindarle al invitado 100% de satisfacción.
        
    </p> 
</div>

<div class="contentDiv">
    <p class="contentP"><span class="titleContent">Descubre el sabor de Italia en México </span> Olive Garden llega a México comprometido para brindar a cada invitado una genuina experiencia gastronómica italiana. Es lo que nos complace en llamar Hospitaliano a nuestra pasión por brindarle al invitado 100% de satisfacción. </p> 
    <img src="img/pasta.jpg" alt="logo" width="500" class="imgFood">
</div>
<div class="imageContainer">
    
</div>


</div>




<%- include ("./partials/_footer") %>