body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
li > a{
    text-decoration: none;
    color: #6ead07;
   
}


a:hover{
    flex-grow: 1;
    color: coral;
    text-decoration: underline;
}


ul{
    list-style: none;
}


.imgContainer{
    background-color: coral;
    text-align: center;
}
nav{
    background-color: #fde3cb;
    height: 50px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    font-size: 17px;
}
.navbar > li{
    flex-grow: 1;
    text-align: center;
    background-color: #fde3cb;
    padding: 10px 0;
}


.socials{
    margin-top: 0;
    border-top: 3px solid rgb(231, 231, 231);
    padding-top: 13px;
    padding-bottom: 50px;
    height: 60px;
    background-color: rgba(255, 128, 55, 0.808);
    display: flex;
    justify-content: space-around;
}

.opciones{
    background-color: rgb(253, 105, 51);
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 13px;
}

.opciones > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    flex-grow: 1;
    border-right: 1px solid rgb(163, 163, 163);
    text-align: center;
}

.newDish{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputs{
    display: flex;
    width: auto;
}

.dishInput{
    display: flex;
    flex-grow: 1;
    padding: 0px 10px 10px 0px;
}
.dishInput > input{
    margin-left: 5px;
    flex-grow: 1;
}

#description{
    margin-bottom: 10px;
}


#registroTitle{

    text-align: center;
}

.registros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.registroReserva{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

.registro{
    margin: auto;
    margin-top: 20px;
    border: 2px solid rgb(99, 99, 99);
    border-radius: 25px;
    width: auto;
    min-width: 400px;
    padding: 20px 20px 20px 20px;
    
}

.elimina{
    margin: auto;
    margin-top: 20px;
    border: 2px solid rgb(99, 99, 99);
    border-radius: 25px;
    width: auto;
    min-width: 400px;
    padding: 20px 20px 20px 20px;
    
}

.menu{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 95%;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 17px;
    background-color: rgb(247, 247, 247);
    
}
#menuTitle{
    align-self: center; 
}


.dish{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    width: 45%;
    min-width: 400px;
}

.foodImg{
    padding: 0px 10px 10px 0px;
}

.content{
    flex-grow: 1;
    width: auto;
}
.homeContainer{
    display: flex;
    flex-direction: column;
}
.imgFood{
    width: 50%;
}


.contentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentP{
    padding: 150px 100px 0px 100px;
    text-align: center;
    font-size: 20px;
   background-color: rgb(255, 238, 221);
   color: rgb(90, 33, 0);
    
}

.imageContainer{
    height: 400px;
    width: auto;
    background-image: url("../img/pizza.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    border: 1px solid black;
}
.content > strong{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
}
.descriptionText{
    width: 300px;
    text-align: justify;
}

#iniciarSesion{
    padding-top: 0px;
    position: absolute;
    top: 0px;
    right: 1px;
    
}

#iniciarSesion:hover{
    color:#6ead07;
}

.hrMenu {
    border: 0;
    clear:both;
    display:block;               
    height: 10px;
	border: 0;
    box-shadow: 0 -10px 10px -10px #8c8b8b inset;
    margin: 0;
  }

  .hrFooter {
    border: 0;
    clear:both;
    display:block;               
    height: 10px;
	border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin: 0;
    margin-bottom: 10px;
  }