
</body>
<footer>
    <div class="socials">
        <i class="fa fa-facebook-square" style="font-size:48px;"></i>
        <i class="fa fa-instagram" style="font-size:48px;"></i>
        <i class="fa fa-twitter" style="font-size:48px;"></i>

    </div>
    <div class="opciones">
        <p>&copy; 2020 FoodLovers</p>
        <p>Aviso de privacidad</p>
        <p>Mapa del sitio</p>
        <p>Facturacion</p>
    </div>
</footer>

</html>
