
</body>
<footer>
   
    <div class="socials">
        <i class="fa fa-facebook-square" style="font-size:48px;"></i>
        <i class="fa fa-instagram" style="font-size:48px;"></i>
        <i class="fa fa-twitter" style="font-size:48px;"></i>

    </div>
    <div class="opciones">
        <a href="#">
            <p >&copy; 2020 FoodLovers</p>
        </a>
        <a href="#">
            <p>Aviso de privacidad</p>
        </a>
        <a href="#">
            <p>Mapa del sitio</p>
        </a>
        <a href="#">
            <p>Facturacion</p>
        </a>
    </div>
</footer>

</html>
