<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Food lovers</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link  rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <div class="imgContainer">
      <a href="/home"><img src="img/logo.png" alt="logo" height="140" class="logo"></a>
    </div>
    <nav >
      <ul class="navbar">
        <li>
          <a href="/home" >Inicio</a>
        </li>
        <li>
          <a href="/menuAdmin">Menu</a>
        </li>
        <li>
          <a href="/reservarAdmin">Reservar</a>
        </li>
        <li>
          <a href="/about" >Nosotros</a>
        </li>
        <li>
          <a href="/contacto" >Contacto</a>
        </li>
      </ul>
    </nav>


